@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 100;
  font-stretch: normal;
  src: url(fonts/roboto-serif-italic-100.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 300;
  font-stretch: normal;
  src: url(fonts/roboto-serif-italic-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 400;
  font-stretch: normal;
  src: url(fonts/roboto-serif-italic-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 500;
  font-stretch: normal;
  src: url(fonts/roboto-serif-italic-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 700;
  font-stretch: normal;
  src: url(fonts/roboto-serif-italic-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: italic;
  font-weight: 900;
  font-stretch: normal;
  src: url(fonts/roboto-serif-italic-900.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
  src: url(fonts/roboto-serif-normal-100.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
  src: url(fonts/roboto-serif-normal-300.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(fonts/roboto-serif-normal-400.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  src: url(fonts/roboto-serif-normal-500.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  src: url(fonts/roboto-serif-normal-700.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Serif';
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
  src: url(fonts/roboto-serif-normal-900.ttf) format('truetype');
}
