:root {
  --scrollbar-size:         .5em;
  --scrollbar-radius:       .5em;
  --scrollbar-track-hex:    #bdbdbd;      /* grey-300 */
  --scrollbar-thumb-rgb:    33 33 33;     /* grey-900 */
}

:is(.dark) {
  --scrollbar-track-hex:    #757575;      /* grey-600 */
  --scrollbar-thumb-rgb:    4 4 4;        /* grey-999 */
}

*::-webkit-scrollbar {
  width:          var( --scrollbar-size );
  height:         var( --scrollbar-size );
  border-radius:  var( --scrollbar-radius );
  background:     var( --scrollbar-track-hex );
}

*::-webkit-scrollbar-thumb {
  border-radius:  var( --scrollbar-radius );
  background:     rgb( var( --scrollbar-thumb-rgb ) / .5 );
}
